/* Font StyleSheet*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:ital,wght@1,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blueviolet;

}

h3 {
  margin-bottom: 50px;
  font-weight: normal;
  font-style: italic;
  font-size: 25px;
  color: white;

}

.loader {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 6px solid;
  border-color: white transparent white transparent;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}